{% extends 'base.html.twig' %} 
{% block body %}
<div class="container">
<a href="{{ path('ShowAllUsers') }}" class="btn btn-dark">Show All Users</a>

  <div class="row">
    <div class="col-sm-12">
      <div class="card bg-light mb-3 mt-3">
        <div class="card-body">
        <div class="card-header mb-3">All Articles</div>
      {% for article in articles %}
        <div id="articles" class="col-sm-12 blog-main">
                  <div class="blog-post">
                      <h1 class="blog-post-title">{{ article.title }}</h1>
                      <h5>
                      <i class="blog-post-author">
                              <p class="h5-danger"> by {{ article.author }}</p> 
                      </i>
                        </h5> 
                      {# <h5>Article :</h5> #}
                        <figure class = "card bg-light col-md-12">
                      <img class = "img-thumbnail" 
                      style="align-self: center;"
                      src="{{ asset('uploads/content/' ~ article.image) }}" 
                      alt="{{ article.image }}"
                      height="700px"
                      width="700px"
                      >
                      </img>
                      </figure>

                      <p>{{ article.content }} </p>
                        {# <a href="/article/edit/{{ article.id }}" class="btn btn-warning">Edit<a/> #}
                        <a href="#" class="btn btn-danger delete-article" 
                                    data-id="{{ article.id }}" >Delete<a/>
                                    <br>
                      
                  </div>
      {% endfor %}
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
  <script src="/js/main.js"></script>
{% endblock %}